@model AdminService.Models.EditUserViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit User";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Edit User</h2>

    <form method="post" asp-action="UpdateUser">
        <input type="hidden" asp-for="user_id" />


        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" asp-for="name" required />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" asp-for="email" required />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" asp-for="password" required />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class="form-control" asp-for="mobile_number" required />
            <span asp-validation-for="mobile_number" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Update User</button>
        <a href="@Url.Action("UserManagement", "Admin")" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
